<div class = "calculadora">
    <p class = "calcName"><strong>Dólar Americano</strong></p>
    <mat-icon svgIcon="usa"></mat-icon><input type="number" class="valor1" (keyup)="calculateDolar($event)"placeholder = "$ 5,22"><br/>
    <mat-icon svgIcon="brazil"></mat-icon> <input type="number" class="valor2" (keyup)="calculateReal($event)" ><br/>
    <p class = "convertedResult"><strong>{{numberResult | currency:"USD"}}</strong></p>
    <!-- <p class = "convertedResult"><strong>{{numberResult | currency:"R$"}}</strong></p> -->

    <ul>
        <li *ngFor="let item of persondata; let i = index">
            {{item.USD}}
        </li>
    </ul>

    <!-- <span>{{moedas.rates.USD}}</span> -->
    
</div>
