<div class = "calculadora">
    <p class = "calcName"><strong>Dólar Americano</strong></p>
    <mat-icon svgIcon="usa"></mat-icon><input type="number" class="valor1" (keyup)="calculateDolar($event)" placeholder="$ 1.00"><br/>
    <mat-icon svgIcon="brazil"></mat-icon> <input type="number" class="valor2" (keyup)="calculateReal($event)" placeholder = "R$ {{this.dolar}}"><br/>
    <p *ngIf="display === true" class = "convertedResult"><strong>{{numberResult | currency:"BRL"}}</strong></p>
    <p  *ngIf="display === false" class = "convertedResult"><strong>{{numberResult | currency:"USD"}}</strong></p> 
</div>
